*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/nb-configuration.xml
/spider/nb-configuration.xml
/rabbit-crawler-driver/target/
/rabbit-crawler-driver/nb-configuration.xml
/crawler-driver/target/
/crawler-driver/phantomjsdriver.log
/crawler-driver/nb-configuration.xml
/crawler-auth/target/
/crawler-auth/nb-configuration.xml
/target/
/crawler-api/target/
/crawler-api/nb-configuration.xml
/crawler-manager/nb-configuration.xml
/crawler-executor/nb-configuration.xml
/crawler-executor/target/
/crawler-manager/target/